# Flutter/Dart specific files
*.iml
*.metadata
*/.idea/
*/.vscode/
*/.dart_tool/
*/.packages
*/.pubspec.lock
*/build/


# iOS specific files
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/

# Android specific files
android/.gradle/
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties

# macOS specific files
.DS_Store
